.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.find-icons__icon span {
  margin-top: 20px;
}

.recommended-friend {
  padding: 30px 0;
  margin-top: 25px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friend__title {
  color: var(--grey-color);
}
